body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  color: #fff;
  background:linear-gradient(to right, rgb(83,105,118), rgb(41,46,73)) ;
}

*{
  font-family: 'RobotoMono', monospace;
}

@font-face {
  font-family: 'RobotoMono';
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto+Mono:wght@100&family=Roboto:wght@400;700&display=swap);
}
